body-font = 'proxima-nova', 'Helvetica Neue', Arial, sans-serif
headline-font = body-font

body-background = #f9f9f9
content-background = #ffffff
text-color = #505050
link-color = #77AADD
link-color-visited = #AA88DD

main-brake = 768px

common-spacing = 20px
