head
  meta(charset="utf-8")
  title Bingabilidade
  meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    
  //- External assets
  script(src="//use.typekit.net/uwg4kpr.js").
    try{Typekit.load()}catch(e){}
  link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

template(name="defaultLayout")
  paper-drawer-panel(responsive-width="768px")
    paper-material.fit(elevation="3" drawer)
      paper-header-panel.sideBar
        paper-button.logo(data-action="home") Bingabilidade
        +mainMenu
        
    paper-header-panel(mode="waterfall-tall" main)
      paper-toolbar.tall.animate
        paper-icon-button(icon="menu" paper-drawer-toggle)
        #mainTitle.bottom.title #{headerTitle}
      paper-material.main-content(elevation="1")
        +yield
        
  +NumberEdit

template(name="adminLayout")
  +yield
