/* SASS declarations go here */

@import "_variables"
@import ".meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap"

$twitch-color: #6441A5

.btn-Twitch, button#at-twitch.at-social-btn
  color: white
  background-color: $twitch-color
  &:hover
    color: white
    background-color: lighten($twitch-color, 15%)
