template(name="Numbers")
  each columns
    h1 Coluna #{letter}
    .number-list
      each numbers
        paper-item
          div.number #{number}
          paper-item-body.flex(two-line)
            div Título
            div(secondary) Descrição
          paper-icon-button(icon="create")
