template(name="Numbers")
  each columns
    h1 Coluna #{letter}
    .number-list
      each numbers _id
        paper-item
          paper-checkbox(checked=enabled)
          div.number #{number}
          paper-item-body.flex(two-line)
            div {{ifNull title "Sem título"}}
            div(secondary) {{ifNull description "Sem descrição"}}
          paper-icon-button(icon="create")
