template(name="Numbers")
  each columns
    h1 Coluna #{letter}
    .number-list
      each numbers _id
        paper-item
          paper-checkbox
          div.number #{number}
          paper-item-body.flex(two-line)
            div #{_id}
            div(secondary) Descrição
          paper-icon-button(icon="create")
