template(name="AdminRounds")
  
  if currentRound
    h1 Rodada atual
    +with currentRound
      .layout.horizontal.end
        .flex
          p
            strong=name
            | (iniciada {{livestamp createdAt}})
        div
          paper-button#currentRoundEnd Encerrar
  
  h1 Nova rodada
  if canStart
    .layout.horizontal.end
      .flex
        paper-input#newRoundName(label="Nome")
      div
        paper-button#newRoundStart Iniciar
  else
    p Não há quadrados suficientes para formar cartelas.
    
  h1 Histórico
  each roundHistory
    p
      strong= name
      | (encerrada {{livestamp updatedAt}})
