<template name="AdminSetup">
  <p>
    O site está instalado e parece estar funcionando corretamente.<br>
    Só precisamos completar mais alguns passos.
  </p>
  {{#unless currentUser}}
    <h3>Passo 1: Configurar sistema de login</h3>
    <p>
      Utilize o botão abaixo e siga as instruções para configurar o sistema de autenticação:
    </p>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">{{> atForm}}</div>
    </div>
    <p>
      Repita este passo para cada serviço disponível. Quando estiver tudo pronto, faça o login com qualquer um dos serviços configurados para seguir para o próximo passo.
    </p>
  {{else}}
    {{#if _.isEqual GS.setupStep 1}}
      <h3>Tudo certo!</h3>
      <p>
        As configurações iniciais já foram realizadas. Você pode navegar normalmente pelo site.
      </p>
      <paper-button data-action="home" raised>Página inicial</paper-button>
    {{else}}
      <h3>Passo 2: Definir perfil como administrador</h3>
      <p>
        O login funcionou corretamente e um usuário foi criado para você.
      </p>
      <p>
        Agora vamos torna-lo administrador. Para prosseguir, clique no botão abaixo.
      </p>
      <paper-button data-action="become-admin" raised>Tornar Admin</paper-button>
    {{/if}}
  {{/unless}}
</template>
