template(name="myCard")
  table.my-card
    tr
      each myCard.headers
        th {{this}}
    each myCard.rows
      tr
        each this
          td(class=numberClass)
            each number number_id
              .title {{title}}
              .description {{description}}
