template(name="myCard")
  table.my-card
    tr
      each myCard.headers
        th {{this}}
    tr
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
    tr
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
    tr
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
    tr
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
    tr
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
      td
        .title Title
        .description Description
