template(name="myCard")
  table.my-card
    tr
      th b
      th i
      th l
      th i
      th d
    each myCard.rows
      tr
        each this
          td(class=numberClass)
            each number number_id
              .title {{title}}
              .description {{description}}
