template(name="myCard")
  table.my-card
    tr
      th b
      th i
      th l
      th i
      th d
    tr
      td 1
      td 2
      td 3
      td 4
      td 5
    tr
      td 6
      td 7
      td 8
      td 9
      td 10
    tr
      td 11
      td 12
      td X
      td 13
      td 14
    tr
      td 15
      td 16
      td 17
      td 18
      td 19
    tr
      td 20
      td 21
      td 22
      td 23
      td 24
