template(name="myCard")
  table.my-card
    tr
      th b
      th i
      th l
      th i
      th d
    tr
      td
        .number 1
        .title Title
        .description Description
      td
        .number 2
        .title Title
        .description Description
      td
        .number 3
        .title Title
        .description Description
      td
        .number 4
        .title Title
        .description Description
      td
        .number 5
        .title Title
        .description Description
    tr
      td
        .number 6
        .title Title
        .description Description
      td
        .number 7
        .title Title
        .description Description
      td
        .number 8
        .title Title
        .description Description
      td
        .number 9
        .title Title
        .description Description
      td
        .number 10
        .title Title
        .description Description
    tr
      td
        .number 11
        .title Title
        .description Description
      td
        .number 12
        .title Title
        .description Description
      td
      td
        .number 13
        .title Title
        .description Description
      td
        .number 14
        .title Title
        .description Description
    tr
      td
        .number 15
        .title Title
        .description Description
      td
        .number 16
        .title Title
        .description Description
      td
        .number 17
        .title Title
        .description Description
      td
        .number 18
        .title Title
        .description Description
      td
        .number 19
        .title Title
        .description Description
    tr
      td
        .number 20
        .title Title
        .description Description
      td
        .number 21
        .title Title
        .description Description
      td
        .number 22
        .title Title
        .description Description
      td
        .number 23
        .title Title
        .description Description
      td
        .number 24
        .title Title
        .description Description
