@import "../_variables"

table.my-card
  width: 100%
  border-collapse: collapse
  th, td
    border: solid 1px text-color
  th
    font-size: 2rem
    padding: common-spacing 0 0 0
  td
    padding: common-spacing (common-spacing / 2)
  .number
    font-size: 2rem
  .description
    font-size: .8rem
