<template name="mainMenu">
  {{#Layout template="commonMainMenu"}}
    <paper-button data-action="wtf">WTF?</paper-button>
    {{#if isInRole 'admin'}}
      <paper-button data-action="admin">Admin</paper-button>
    {{/if}}
    {{#if currentUser}}
      <paper-button data-action="sign-out">Sair</paper-button>
    {{/if}}
  {{/Layout}}
</template>

<template name="adminMainMenu">
  {{#Layout template="commonMainMenu"}}
    {{> atNavButton}}
  {{/Layout}}
</template>

<template name="commonMainMenu">
  {{> yield}}
</template>
