@import "../_variables"

.sideBar
  background-image: linear-gradient(to top, #ccc, #eee)
  paper-button
    margin: 0
    width: 100%
    text-align: left
    text-transform: none
    border-bottom: solid 1px #CCC
    &[active]
      background-image: linear-gradient( to left, rgba(0,0,0,.1) 0%, rgba(0,0,0,0) 70% )
    &.logo
      font-family: headline-font
      font-size: 1.5em
      text-align: center
      background-color: #ddd
    .fa
      min-width: 1.2em
      text-align: center

  .avatar
    display: inline-block
    margin: 4px
