<template name="mainMenu">
  {{#Layout template="commonMainMenu"}}
    {{#if currentUser}}
      <div class="horizontal layout center">
        {{> avatar user=profileUser shape="circle"}}
        <div class="flex">
          {{ profileUser.profile.name }}
        </div>
      </div>
    {{/if}}
    <paper-button data-action="wtf">WTF?</paper-button>
    {{#if isInRole 'admin'}}
      <paper-button data-action="admin">Admin</paper-button>
    {{/if}}
    {{#if currentUser}}
      <paper-button data-action="sign-out">Sair</paper-button>
    {{/if}}
  {{/Layout}}
</template>

<template name="adminMainMenu">
  {{#Layout template="commonMainMenu"}}
    {{> atNavButton}}
  {{/Layout}}
</template>

<template name="commonMainMenu">
  {{> yield}}
</template>
