template(name="mainMenu")
  +Layout(template="commonMainMenu")
    .horizontal.layout.center
      +if currentUser
        +avatar(user=profileUser shape="circle")
        .flex #{profileUser.profile.name}
      +else
        .avatar.avatar-circle
          img.avatar-image(src="/img/no-pic.jpg")
        .flex Anônimo
    paper-button(data-action="home" active="{{isActiveRoute 'home'}}")
      i.fa.fa-table
      | Minha Cartela
    paper-button(data-action="squares" active="{{isActiveRoute 'squares'}}")
        i.fa.fa-th-large
        | Quadrados
    paper-button(data-action="wtf" active="{{isActiveRoute 'wtf'}}")
        i.fa.fa-question
        | Ajuda
    +if isInRole 'admin'
      paper-button(data-action="admin" active="{{isActiveRoute 'admin'}}")
        i.fa.fa-legal
        | Admin
      .subNav
        paper-button(data-action="admin/rounds" active="{{isActiveRoute 'admin-rounds'}}")
          i.fa.fa-trophy
          | Rodadas
        paper-button(data-action="admin/users" active="{{isActiveRoute 'admin-users'}}" disabled)
          i.fa.fa-users
          | Usuários
    +if currentUser
      paper-button(data-action="me" active="{{isActiveRoute 'me'}}")
        i.fa.fa-cog
        | Opções
      paper-button(data-action="sign-out")
        i.fa.fa-sign-out
        | Sair
    +else
      paper-button(data-action="sign-in" active="{{isActiveRoute 'sign-in'}}")
        i.fa.fa-sign-in
        | Entrar

template(name="adminMainMenu")
  +Layout(template="commonMainMenu")
    #{atNavButton}

template(name="commonMainMenu")
  +yield
