@import '../_variables'

mini-card-border = 1px solid #777

.players
  cf()
  paper-button
    col(1/3, cycle: 3)
    text-align center !important
    margin-bottom: common-spacing
    .mini-card
      margin 4px
      width 46px
      border-left: card-border
      border-top: card-border
      display inline-block
      cf()
      .square
        width 9px
        height 9px
        border-right: card-border
        border-bottom: card-border
        float left
      .checked
        background-color text-color
    .name
      ellipsis()
    +below(3)
      col(1/2, cycle: 2)
    +mobile()
      stack()
