template(name="playing")
  if currentRound
    p Participantes da rodada:
    h2= currentRound.name
    .players
      each roundCards
        paper-button(raised)
          .mini-card
            each square_ids
              if checked
                .square.checked
              else
                .square
          if owner_id
            +with getUser owner_id
              +avatarAndName(user=this)
          else
            +avatarAndName
          
  else
    +noRound

template(name="avatarAndName")
  if user
    +with user
      +avatar(user=this shape="circle")
      .name
        = profile.name
  else
    .avatar.avatar-circle
      img.avatar-image(src="/img/no-pic.jpg")
    .name Anônimo
