template(name="playing")
  if currentRound
    p Participantes da rodada:
    h2= currentRound.name
    .players
      each roundCards
        paper-button(raised)
          .mini-card
            each square_ids
              if checked
                .square.checked
              else
                .square
          +avatarAndName(user=owner)
          
  else
    +noRound

template(name="avatarAndName")
  +with user
    +avatar(user=this shape="circle")
    .name
      = profile.name
