template(name="signIn")
  p Em breve você poderá utilizar suas contas do Twitch e do Google para salvar e compartilhar suas cartelas.
  | Por enquanto o login tem utilidade apenas para administradores
  
  +atForm
